.hero-section {
  margin-bottom: 3rem;
}

.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.carousel-section {
  max-width: 1200px;
}


.carousel {
  margin-top: 2rem;
}

.carousel img {
  object-fit: cover;
  height: 400px;
}

@media (max-width: 768px) {
  .carousel img {
    height: 250px;
  }
}

.adds-section,
.products-section {
  max-width: 1200px;
}

.footer {
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .products-section h2 {
    font-size: 1.5rem;
  }
}
